
{% extends "home.html" %}

{% block titulo %} Iniciar sesión {% endblock%}

{% block contenido %}

{% if messages %}
      <div class="row mt-3"> 
          <div class="col-md-12 d-flex justify-content-center">
              {% for message in messages %}
                  {% if message.tags == "error" %}
                      <div class="alert alert-danger" role="alert">
                          {{ message }}
                      </div>
                  {% else %}
                      <div class="alert alert-primary" role="alert">
                          {{ message }}
                      </div>
                  {% endif %}
              {% endfor %}
          </div>
      </div>
  {% endif %}

    <form method="POST" url="login/"  class=" p-5 d-flex justify-content-center ">
        {% csrf_token %}
        <div  class="card" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title">Iniciar sesión</h3>
                <div class="mb-5"></div>
                <h6> Usuario: <input class="form-control" type="text" required name="username" placeholder="Ingrese su usuario"/></h6>
                <br>
                <h6> Contraseña: <input class="form-control"  type="password" required  name="password" placeholder="Ingrese su contraseña"/></h6>
            </div>
            <div class=" p-2 d-flex justify-content-center">
                {% comment %} <input class="btn btn-primary" type="submit" value="Iniciar sesión" href="http://127.0.0.1:8000/accounts/login/?next=/"> {% endcomment %}
                <input class="btn btn-primary" type="submit" value="Iniciar sesión">
            </div>
        </div>
    </form>
{% endblock%}