{% extends "home.html" %}

{% block titulo %} Registrarse {% endblock%}

{% block contenido %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error"%}
            <div class=" d-flex justify-content-center alert alert-danger mt-4">
                <h5>{{ message }}</h5>
            </div>
        {% else %}
            <div class=" d-flex justify-content-center alert alert-success mt-4 ">
                <h5>{{ message }}</h5>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


  <form method="post" class=" p-5 d-flex justify-content-center">
    {% csrf_token %}
    <div  class="card" style="width: 30rem;">
        <div class="card-body">
            <h3 class="card-title-justify-center">Registrarse</h3>
            <h6 class="mt-4"><label for="username">Usuario:</label></h6>
            <input type="text" required name="username" class="form-control" placeholder="Ingrese su Nombre de Usuario">
            <h6 class="mt-4"><label for="email">Email:</label></h6>
            <input type="email" required name="email" class="form-control" placeholder="Ingrese su Correo electronico">
            <h6 class="mt-4"><label for="password1">Contraseña:</label></h6>
            <input type="password" required name="password1" class="form-control">
            <h6 class="mt-4"><label for="password2">Confirma Contraseña:</label></h6>
            <input type="password"required name="password2" class="form-control">
        </div>
        <div class=" p-2 d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Registrarse">
        </div>
        <div class="formulario__terminos" id="grupo__terminos">
            <label class="formulario__label">
                <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                Acepto los Terminos y Condiciones
            </label>

        </div>
    
    </div>
  </form>

{% endblock%}