{% extends "home.html" %}

{% block titulo %} WebReserva {% endblock %}

{% block contenido %} 

<div class="card text-center" style="width: 60rem;height: 300; display: flex;justify-content: center; margin: 30px; margin-left: auto; margin-right: auto;">
    <table class="table">
        <thead>
          <tr>
            <th>Puesto</th>
            <th>Fecha de reserva</th>
            <th>Acciones</th>       
          </tr>
        </thead>
        <tbody>
            {% for r in reservas_usuario %}

            <tr>
                <th>{{r.puesto}}</th>
                <th>{{r.fecha_reserva}}</th>
                <th><a href="{% url 'eliminar_reserva' r.id  %}">Eliminar</a></th>
            </tr>
            <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
            </script>

            {% endfor %}
        
        </tbody>
      </table>
</div>
