{% extends "base.html" %}

{% block titulo %} WebReserva {% endblock %}

{% block contenido %}
  {% if messages %}
      <div class="row mt-3"> 
          <div class="col-md-12 d-flex justify-content-center">
              {% for message in messages %}
                  {% if message.tags == "error" %}
                      <div class="alert alert-danger" role="alert">
                          {{ message }}
                      </div>
                  {% else %}
                      <div class="alert alert-primary" role="alert">
                          {{ message }}
                      </div>
                  {% endif %}
              {% endfor %}
          </div>
      </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-5">
        <div class="card" >
          <div class="card-header">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <h5> Reservar </h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <label> Selecciona una fecha </label>
                <input onchange="printChairs()" type="date" name="fecha_reserva" id="fecha_reserva" class="form-control" />
              </div>
              <div class="col-6 ">
                <label> Selecciona un puesto </label>
                <select type="date" name="puesto" id="puesto" class="form-select" />
                  <option selected disabled value=""> Seleccionar... </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary"> Reservar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card card-body" >
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">fecha de reserva</th>
            <th scope="col">puesto</th>
            <th scope="col">acción</th>
          </tr>
        </thead>
        <tbody>
          {% for r in mis_reservas %}
            <tr>
              <td>{{r.puesto}}</td>
              <td>{{r.fecha_reserva}}</td>
              <td><a class="btn btn-primary" href="eliminar_reserva/{{r.id}}"> Eliminar</a></td>
            </tr>
          {% empty %}
            <tr>              
              <td></td>
              <td>No tienes reservas</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <script>

    async function printChairs(){
      fecha_a_reservar = document.getElementById('fecha_reserva')
      const response =  await fetch(`puestos_disponibles/?fecha_a_reservar=${fecha_a_reservar.value}`, {method: 'GET',})
      const data = await response.json()
      console.log(data)

      for (let j in data) {
        elemento = document.getElementById("puesto")
        let nombre = data[j]['nombre_puesto'];
        let opcion = document.createElement("option");
        opcion.value = data[j]['id'];
        opcion.innerHTML = nombre;
        elemento.appendChild(opcion);
      }

    }

  </script>
{% endblock %}