{% extends "mis_reservas.html" %}

{% block titulo %} WebReserva {% endblock %}

{% block contenido %} 

<div class="card text-center" style="width: 60rem;height: 300; display: flex;justify-content: center; margin: 30px; margin-left: auto; margin-right: auto;">
    <table class="table">
        <thead>
          <tr>
            <th>Puesto</th>
            <th>Fecha de reserva</th>
            <th>Acciones</th>       
          </tr>
        </thead>
        <form method="POST" action="SearchCR">
          {% csrf_token %}
          <div class="form-group">
              <div class="col-lg-5">
                  <input type="text" name="CR_NAME" class="form-control" placeholder="Enter Application">
              </div>
              <label class="col-lg-2">
                  <button type="submit" class="btn btn-primary"> Buscar</button>
              </label>
          </div>
      </form>
        <tbody>
            {% for r in reserva_usuario %}

            <tr>
                <th>{{r.puesto}}</th>
                <th>{{r.fecha_reserva}}</th>
                <th><a href="{% url 'eliminar_reserva' r.id  %}">Eliminar</a></th>
                
            </tr>

            {% endfor %}
        
        </tbody>
      </table>
</div>


{% endblock %}