{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'styles/main.css' %}"> {% endcomment %}
  </head>
  <body>
  
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <nav style="background-color:  #FFFF00;" class="navbar navbar-expand-lg ">
      <div class="container-fluid ">
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav" style="border-color: #FFFF00;">
                  <li class="nav-item dropdown" >
                      <a class="nav-link dropdown-toggle" style="font-weight: bold;" href="#" id="navbarDarkDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Navegar
                      </a>
                      <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink" style="background-color:  #FFFF00; border-color: #FFFF00;">                      
                          <li><a class="dropdown-item" style="font-weight: bold;" href="/accounts/logout/">Cerrar Sesion</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    {% block contenido %} {% endblock %}


  </body>
</html>